show.html.erb

share card# <%= @card.cnumber %> with any of these users:

<ul>
<% @subset.each do |x| %>
	<li>
		<%= x.fname %> <%= x.lname %> <%= x.email %>
		<%= link_to "share", relationships_path(user_id: x.id, card_id: @card.id), method: :post %>
	</li>
<% end %>
</ul>

<ul>
<% @unshare.each do |x| %>
	<li>
	<%= x.fname %> <%= x.lname %> <%= x.email %>
	<%= link_to "unshare", relationship_path(user_id: x.id, card_id: @card.id), method: :delete %>
	</li>
<% end %>
</ul>

<ul>
	<li>
		or 
		<%= link_to "delete this card", cards_path(@card.id), method: :delete  %>
	</li>
</ul>