<div id="card-float"><%= image_tag("/" + @card.ctype + ".png", width: "240") %>
<p>(<%= @card.cnumber %>)</p></div>

<ul>
<% @subset.each do |x| %>
	<li>
		
		<%= link_to "link", relationships_path(user_id: x.id, card_id: @card.id), method: :post %>
		 it to <%= x.fname %> <%= x.lname %> (<%= x.email %>)
	</li>
<% end %>
</ul>

<ul>
<% @unshare.each do |x| %>
	<li>
	<%= link_to "unlink", relationship_path(user_id: x.id, card_id: @card.id), method: :delete %>
	 it from <%= x.fname %> <%= x.lname %> (<%= x.email %>)
	</li>
<% end %>
</ul>

<ul>
	<li>
		<%= link_to "delete this card", card_path(card_id: @card.id), method: :delete  %>
		 entirely
	</li>
</ul>