<!DOCTYPE html>
<html>
<head>
  <title>WalletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="flash">
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>
</div>

<div id="nav">
	<ul>
		<% if !session[:id] %>
		<li>
			<%= link_to "Sign In", signin_path %>
		</li>
		<li>
			<%= link_to "Sign up", new_user_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Update My Account", edit_user_path(session[:id]) %>
		</li>
		<li>
			<%= link_to "Sign Out", signout_path %>
		</li>
		<li>
			<%= link_to "Delete My Account", user_path(session[:id]), method: :delete %>
		</li>

		<% end %> 

	</ul>

</div>

<%= yield %>

</body>
</html>
